# DuckDB
*.duckdb
*.duckdb.wal


data/*.csv

# Python
__pycache__/
*.py[cod]
*.pyo
.Python
.venv/
venv/
env/
*.egg-info/
dist/
build/
.eggs/

# DBT
transform/dbt_project/target/
transform/dbt_project/dbt_packages/
transform/dbt_project/logs/
logs/

# Streamlit
.streamlit/secrets.toml

# Environment
.env
.env.*

# macOS
.DS_Store

# IDE
.vscode/
.idea/
*.swp
PROJECT_PLAN.md
