# Dashboard
streamlit==1.51.0
plotly==6.3.0
pandas==2.3.3
numpy==2.3.5
matplotlib==3.10.6
sportypy==1.0.0

# Storage
duckdb==1.5.1

# Ingestion
httpx==0.28.1

# Transformation
dbt-core==1.11.8
dbt-duckdb[motherduck]==1.10.1

